* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 400px;
  width: 600px;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 0px #000 inset;
  transition: background-color 300s ease-in-out 0s;
}
